{% extends "base.html" %} 

{% block title%} Monitora Ativos - Usuário {%endblock%}

{% block content %}
    <div class="col-lg-6">
    {% if edit %}
        <h1 class="mb-2">Edição de usuário</h1>
    {% else %}
        <h1 class="mb-2">Cadastro novo usuário</h1>
    {% endif %}

    {% if error %}
        <p class="mb-4 error-message">
            {{ error }}
        </p>
    {% endif %}

    {% if edit %}
        <form id="edit-user-form" method="post" action="{% url 'edit-user' %}" autocomplete="off">
    {% else %}
        <form id="create-user-form" method="post" action="{% url 'create-user' %}" autocomplete="off">
    {% endif %}            
            {% csrf_token %}
            <div class="form-group mb-3 form-custom">
                <label for="user_name">Nome*:</label>
                <input
                    type="text"
                    name="user_name"
                    id="user_name"
                    class="form-control mt-2"
                {% if form.data.user_name != None %}
                    value={{ form.data.user_name }}
                {% endif %}
                    required
                />
            </div>
            <div class="form-group mb-3 form-custom">
                <label for="email">E-mail*:</label>
                <input
                    type="email"
                    name="email"
                    id="email"
                    class="form-control mt-2"
                {% if form.data.email != None %}
                    value={{ form.data.email }}
                {% endif %}
                    required
                />
            </div>
            <div class="form-group mb-3 form-custom">
                <label for="password">Senha*:</label>
                <input
                    type="password"
                    name="password"
                    id="password"
                    class="form-control mt-2"
                {% if form.data.password != None and not edit%}
                    value={{ form.data.password }}
                {% endif %}
                    required
                />
            </div>

        {% if edit %}
            <a href="{% url 'stock-list' %}" class="btn btn-danger">Cancelar</a>
            <button type="submit" class="btn btn-primary">Editar</button>
        </form>
        {% else %}
            
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
        <a href="{% url 'login' %}" class="btn btn-link">Já possui Cadastro? Acesse sua conta!</a>
    {% endif %}
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function(event) { 
            document.getElementById('edit-user-form').addEventListener('submit', function(event)
            {
                event.preventDefault();
                document.getElementById('modal-text-body').innerHTML = 'Deseja continuar com a edição dos dados do seu usuário cadastrado?'
                document.getElementById('modal-confirm').style.display = 'flex';
            });

            document.getElementById('close-modal').addEventListener('click', function()
            {
                document.getElementById('modal-confirm').style.display = 'none';
            });
            
            document.getElementById('submit-confirm').addEventListener('click', function()
            {
                document.getElementById('edit-user-form').submit();
            });
        });
    </script>
{% endblock content %}