{% extends "base.html" %} 

{% block title%} Monitora Ativos - Redefinição de Senha {%endblock%}

{% block content %}
    <div class="col-lg-6">
        <h1 class="mb-2">Redefinição de Senha</h1>

    {% if error %}
        <p class="mb-4 error-message">
            {{ error }}
        </p>
    {% endif %}

        <form method="post" action="{% url 'password-reset' %}" autocomplete="off">
            {% csrf_token %}
            <div class="form-group mb-3 form-custom">
                <label for="email">E-mail para redefinição de senha*:</label>
                <input
                    type="email"
                    name="email"
                    id="email"
                    class="form-control mt-2"
                {% if form.data.email != None %}
                    value={{ form.data.email }}
                {% endif %}
                    required
                />
            </div>
            <a href="{% url 'login' %}" class="btn btn-danger">Cancelar</a>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
        <div>
            <a href="{% url 'create-user' %}" class="btn btn-link">Novo por aqui? Cadastre-se!</a>
        </div>
    </div>
{% endblock content %}