{% extends "base.html" %} 

{% block title%} Monitora Ativos - Listagem de ativos {%endblock%}

{% block content %}
    <div class="col-lg-10">
        <h1 class="mb-2">Listagem de Ativos</h1>

        <a href="{% url 'create-stock' %}" class="btn btn btn-success btn-right-position">Adicionar Novo Ativo</a>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Ativo</th>
                    <th scope="col">Limite Mínimo</th>
                    <th scope="col">Limite Máximo</th>
                    <th scope="col">Monitoramento</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
            {% for stock_user in stockList %}
                <tr>
                    <td data-toggle="tooltip" data-placement="bottom" title="{{stock_user.stock.name}}">{{stock_user.stock.acronym}}</td>
                    <td>R$ {{stock_user.min_price}}</td>
                    <td>R$ {{stock_user.max_price}}</td>
                    <td>{{stock_user.update_frequency}} min</td>
                    <td>
                        <a href="{% url 'edit-stock' id_stock=stock_user.stock.id_stock %}">Editar</a>
                        <a href="{% url 'delete-stock' id_stock=stock_user.stock.id_stock %}">Excluir</a>
                        <a href="{% url 'price-quote-history' id_stock=stock_user.stock.id_stock frequency=stock_user.update_frequency %}">Detalhes</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5" class="empty-list">NENHUM ATIVO MONITORADO!!!</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}