{% extends "base.html" %} 

{% block title%} Monitora Ativos - Listagem de ativos {%endblock%}

{% block content %}

<div class="container-fluid min-vh-100 container-page">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <h1 class="mb-2">Interface de Listagem de ativo</h1>

            <button type="button" class="btn btn-link" onclick="location.href = 'create-stock/'">Novo Ativo</button>
            <ul class="stock-list">
                {% for stock in stockList %}
                    <li class="stock-item">
                        <span>Nome</span>
                        <span>editar</span>
                        <span>deletar</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock content %}